.App {
  text-align: center;
}

body {
  background-color: #19191e; /* replace with your desired color */
  color: #e0e0e0;
}

.canvas-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.three-canvas {
  width: 250px;
  height: 250px;
  margin: auto;
}

select {
  background-color: #4c2b62; /* replace with your desired color */
  color: #e0e0e0; /* replace with your desired color for the text */
}

button {
  background-color: #4c2b62; /* replace with your desired color */
  color: #e0e0e0; /* replace with your desired color for the text */
}

/* Dark Pastel Purple: #5D547A
Charcoal Grey: #33333D
Slate Grey: #474B52
Midnight Blue: #2C3E50
Burnt Sienna: #8B5A2B
Dark Teal: #284B63
Soft Pearl (Text Color): #E0E0E0 
*/
