.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 1;
  max-height: 10%; /* Header takes up 10% of the container's height */
}

.content {
  flex: 9; /* Content takes the remaining space */
  display: flex;
}

.column {
  flex: 1; /* Each column takes equal width */
  padding: 20px; /* Example padding */
  border-right: 0px solid #dee2e6; /* Example border */
}

body {
  background-color: #19191e !important;/* replace with your desired color */
  color: #e0e0e0 !important;
}

.canvas-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.three-canvas {
  width: 250px;
  height: 250px;
  margin: auto;
}

select {
  background-color: #4c2b62; /* replace with your desired color */
  color: #e0e0e0; /* replace with your desired color for the text */
}

button {
  background-color: #4c2b62; /* replace with your desired color */
  color: #e0e0e0; /* replace with your desired color for the text */
}

.centered-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 12px;
}

.centered-table td {
  border: 1px solid #e0e0e0;
  padding: 4px;
}
